@import "../../global.scss";

.hero {
    height: calc(100vh - 80px);
    width: 100%;
    background-color: white;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;

    @media screen and (max-width: map-get($breakpoint, large)) 
    {
        flex-direction: column;
    }
    @media screen and (max-width: map-get($breakpoint, large)) and (orientation: landscape)
    {
        height: 150vh;
    }
    @media screen and (max-width: map-get($breakpoint, medium)) 
    {
        height: 100vh;
    }
    @media screen and (max-height: map-get($breakpoint, medium)) and (orientation: landscape)
    {
        height: 130vh;
    }

    .left {
        z-index: 3;
        width: 57%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-direction: column;

        @media screen and (max-width: map-get($breakpoint, large)) 
        {
            width: 100%;
            height: calc(60% - 100px);
        }
        @media screen and (max-width: map-get($breakpoint, medium)) 
        {
            height: 100%;
            align-items: center;
            justify-content: center;
        }
        @media screen and (max-height: map-get($breakpoint, medium)) and (orientation: landscape)
        {
            height: 100%;
            margin-top: 100px;
        }

        .container {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            width: 65%;
            height: 100%;

            @media screen and (max-width: map-get($breakpoint, xxlarge)) 
            {
                width: 90%;
            }
            @media screen and (max-width: map-get($breakpoint, large)) 
            {
                width: 95%;
                justify-content: flex-start;
            }
            @media screen and (max-width: map-get($breakpoint, medium)) 
            {
                align-items: center;
                justify-content: center;
            }
            @media screen and (max-height: map-get($breakpoint, medium)) and (orientation: landscape)
            {
                justify-content: center;
            }

            h1 {
                width: 100%;
                font-size: 70px;
                text-align: left;
                line-height: 90px;
                color: $darkBlue;
                overflow-x: unset;

                span {
                    color: $midBlue;
                }

                @media screen and (max-width: map-get($breakpoint, large)) and (max-height: map-get($breakpoint, large)) 
                {
                    font-size: 40px;
                    line-height: 56px;
                }
                @media screen and (max-width: map-get($breakpoint, medium)) 
                {
                    text-align: center;
                }
                @media screen and (max-width: map-get($breakpoint, small)) 
                {
                    font-size: 20px;
                    line-height: 30px;
                }
            }

            p {
                width: 75%;
                margin-top: 30px;
                margin-bottom: 30px;
                font-size: 20px;
                font-weight: 300;
                text-align: left;
                line-height: 40px;
                color: #323353;
                overflow-x: unset;

                span {
                    font-weight: 600;
                }

                @media screen and (max-width: map-get($breakpoint, large)) 
                {
                    font-size: 20px;
                    line-height: 30px;
                }
                @media screen and (max-width: map-get($breakpoint, medium)) 
                {
                    width: 100%;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    font-size: 16px;
                    line-height: 26px;
                    text-align: center;
                }
                @media screen and (max-width: map-get($breakpoint, small)) 
                {
                    font-size: 14px;
                    line-height: 22px;
                }
            }

            .button {
                padding: 20px 25px;
                background-color: $midBlue;
                border-radius: 5px;
                color: white;
                font-size: 18px;
                font-weight: 600;
                text-decoration: none;
                overflow-x: unset;

                @media screen and (max-width: map-get($breakpoint, small)) 
                {
                    font-size: 16px;
                    padding: 15px 20px;
                }

                &:hover {
                    background-color: $darkBlue;
                }
            }

            h2 {
                margin-top: 10px;
                font-weight: 300;
                font-size: 14px;
                text-align: left;
                color: $grey;
                overflow-x: unset;

                @media screen and (max-width: map-get($breakpoint, medium)) 
                {
                    display: none;
                }

                .sign-in {
                    color: $midBlue;
                }
            }
        }
    }

    .right {
        width: 43%;
        height: 100%;

        @media screen and (max-width: map-get($breakpoint, large)) 
        {
            width: 100%;
            height: calc(40% - 100px);
        }
        @media screen and (max-height: map-get($breakpoint, medium)) and (orientation: landscape)
        {
            height: 50%;
        }
        @media screen and (max-width: map-get($breakpoint, medium)) 
        {
            display: none;
        }
        @media screen and (max-height: map-get($breakpoint, medium)) and (orientation: landscape)
        {
            display: none;
        }

        img {
            height: 90%;
            z-index: 2;
            position: absolute;
            top: 80px;
            right: 140px;
            
            @media screen and (max-width: map-get($breakpoint, xxlarge)) 
            {
                right: -100px;
            }
            @media screen and (max-width: map-get($breakpoint, large)) 
            {
                right: -140px;
                height: unset;
                width: 95%;
                top: 35%;
            }    
        }
    }
}