@import "../../global.scss";

.circleLarge1 {
    filter: blur(6px);
    width: 200px;
    height: 200px;
    background-color: $yellow;
    opacity: 0.2;
    position: absolute;
    transform: translate(-60vw, 10vh);
    z-index: 1;
    border-radius: 50%;
    border: none;
    
        animation: circlelarge1 25s linear alternate infinite;
        @keyframes circlelarge1 {
            to{
                transform: translate(60vw, 0vh);
            }
        }

    @media screen and (max-width: map-get($breakpoint, large)) 
    {
        display: none;
    }
    @media screen and (max-width: map-get($breakpoint, large)) and (orientation: landscape)
    {
        display: none;
    }
}

.circleLarge2 {
    filter: blur(8px);
    width: 250px;
    height: 250px;
    background-color: $blue;
    opacity: 0.2;
    position: absolute;
    transform: translate(-60vw, 20vh);
    z-index: 1;
    border-radius: 50%;
    border: none;
    
        animation: circlelarge2 50s linear alternate infinite;
        @keyframes circlelarge2 {
            to{
                transform: translate(60vw, 0vh);
            }
        }
        @media screen and (max-width: map-get($breakpoint, large)) 
        {
            display: none;
        }
        @media screen and (max-width: map-get($breakpoint, large)) and (orientation: landscape)
        {
            display: none;
        }
}

.circleLarge3 {
    filter: blur(8px);
    width: 280px;
    height: 280px;
    background-color: $purple;
    opacity: 0.2;
    position: absolute;
    transform: translate(-60vw, 60vh);
    z-index: 1;
    border-radius: 50%;
    border: none;
    
        animation: circlelarge3 60s linear alternate infinite;
        @keyframes circlelarge3 {
            to{
                transform: translate(60vw, 10vh);
            }
        }
        @media screen and (max-width: map-get($breakpoint, large)) 
        {
            display: none;
        }
        @media screen and (max-width: map-get($breakpoint, large)) and (orientation: landscape)
        {
            display: none;
        }    @media screen and (max-width: map-get($breakpoint, large)) 
        {
            display: none;
        }
        @media screen and (max-width: map-get($breakpoint, large)) and (orientation: landscape)
        {
            display: none;
        }
}

.circleMedium1 {
    filter: blur(5px);
    width: 100px;
    height: 100px;
    background-color: $green;
    opacity: 0.2;
    position: absolute;
    transform: translate(-60vw, 80vh);
    z-index: 1;
    border-radius: 50%;
    border: none;
    
        animation: circlemedium1 28s linear alternate infinite;
        @keyframes circlemedium1 {
            to{
                transform: translate(60vw, 30vh);
            }
        }
        @media screen and (max-width: map-get($breakpoint, large)) 
        {
            display: none;
        }
        @media screen and (max-width: map-get($breakpoint, large)) and (orientation: landscape)
        {
            display: none;
        }
}

.circleMedium2 {
    filter: blur(5px);
    width: 100px;
    height: 100px;
    background-color: $purple;
    opacity: 0.2;
    position: absolute;
    transform: translate(-60vw, 60vh);
    z-index: 1;
    border-radius: 50%;
    border: none;
    
        animation: circlemedium2 24s linear alternate infinite;
        @keyframes circlemedium2 {
            to{
                transform: translate(60vw, 40vh);
            }
        }
        @media screen and (max-width: map-get($breakpoint, large)) 
        {
            display: none;
        }
        @media screen and (max-width: map-get($breakpoint, large)) and (orientation: landscape)
        {
            display: none;
        }
}

.circleMedium3 {
    filter: blur(5px);
    width: 140px;
    height: 140px;
    background-color: $red;
    opacity: 0.2;
    position: absolute;
    transform: translate(-60vw, 0vh);
    z-index: 1;
    border-radius: 50%;
    border: none;
    
        animation: circlemedium3 35s linear alternate infinite;
        @keyframes circlemedium3 {
            to{
                transform: translate(60vw, 60vh);
            }
        }
        @media screen and (max-width: map-get($breakpoint, large)) 
        {
            display: none;
        }
        @media screen and (max-width: map-get($breakpoint, large)) and (orientation: landscape)
        {
            display: none;
        }
}

.circleSmall1 {
    filter: blur(4px);
    width: 60px;
    height: 60px;
    background-color: $blue;
    opacity: 0.2;
    position: absolute;
    transform: translate(-60vw, 0vh);
    z-index: 1;
    border-radius: 50%;
    border: none;
    
        animation: circlesmall1 20s linear alternate infinite;
        @keyframes circlesmall1 {
            to{
                transform: translate(60vw, 60vh);
            }
        }
        @media screen and (max-width: map-get($breakpoint, large)) 
        {
            display: none;
        }
        @media screen and (max-width: map-get($breakpoint, large)) and (orientation: landscape)
        {
            display: none;
        }
}

.circleSmall2 {
    filter: blur(4px);
    width: 60px;
    height: 60px;
    background-color: $orange;
    opacity: 0.2;
    position: absolute;
    transform: translate(-60vw, 40vh);
    z-index: 1;
    border-radius: 50%;
    border: none;
    
        animation: circlesmall2 18s linear alternate infinite;
        @keyframes circlesmall2 {
            to{
                transform: translate(60vw, 10vh);
            }
        }
        @media screen and (max-width: map-get($breakpoint, large)) 
        {
            display: none;
        }
        @media screen and (max-width: map-get($breakpoint, large)) and (orientation: landscape)
        {
            display: none;
        }
}

