@import "../../global.scss";

.navbar {
    position: relative;
    height: 80px;
    width: 100%;
    z-index: 10;
    background-color: white;

    @media screen and (max-width: map-get($breakpoint, large))
    {
        position: fixed;
    }

    .container {
        z-index: 10;
        height: 80px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        .wrapper {
            z-index: 10;
            height: 100%;
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            @media screen and (max-width: map-get($breakpoint, xxlarge)) 
            {
                width: 90%;
            }


            .left {
                width: 80%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: row;

                img {
                    height: 40%;
                }

                ul {
                    margin-left: 60px;
                    z-index: 1;
                    width: 360px;
                    padding: 0;
                    list-style: none;
                    display: flex;
                    justify-content: space-between;

                    @media screen and (max-width: map-get($breakpoint, xlarge)) 
                    {
                        margin-left: 20px;
                    }
                    @media screen and (max-width: map-get($breakpoint, large)) 
                    {
                        display: none;
                    }

                    li {
                        cursor: pointer;
                        font-size: 16px;
                        font-weight: 500;
                        color: $darkBlue;

                        &:hover {
                            color: $midBlue;
                        }
                    }

                    #products {
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        &:hover #line1{
                            stroke: $midBlue;
                        }
                        &:hover #line2{
                            stroke: $midBlue;
                        }
                        &:hover svg {
                            animation: dropDown1 .5s ease infinite;

                            @keyframes dropDown1 {
                                0% {
                                    transform: translateY(0%);
                                }
                                50% {
                                    transform: translateY(15%);
                                }
                                100% {
                                    transform: translateY(0%);
                                }
                            }
                        }

                        svg {
                            margin-left: 3px;
                        }
                    }
                }
            }

            .right {
                width: 20%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                .button {
                    padding: 15px 25px;
                    background-color: $midBlue;
                    border-radius: 5px;
                    color: white;
                    font-size: 18px;
                    font-weight: 600;
                    text-decoration: none;
                    letter-spacing: 2px;

                    @media screen and (max-width: map-get($breakpoint, large)) 
                    {
                        display: none;
                    }

                    &:hover {
                        background-color: $darkBlue;
                    }
                }

                .hamburger {
                    display: hidden;

                    @media screen and (max-width: map-get($breakpoint, large)) 
                    {
                        display: block;
                        width: 30px;
                        height: 25px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        cursor: pointer;
        
                        span {
                            width: 100%;
                            height: 4px;
                            background-color: $darkBlue;
                            border-radius: 25px;
                            transform-origin: left;
                            transition: all 1s ease;
                        }
                    }
                }
            }
        }
    }
    &.falseactive {
        .hamburger {

            span {
                &:first-child {
                    transform: rotate(45deg);
                }
                &:nth-child(2) {
                    opacity: 0;
                }
                &:last-child {
                    transform: rotate(-45deg);
                }
            }
        }
    }
}