@import "../../global.scss";

.partners {
    max-height: 1000vh;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    #sideCircleLeft {
        position: absolute;
        left: 0;
        height: 75vh;

        @media screen and (max-width: map-get($breakpoint, large)) and (max-height: map-get($breakpoint, large)) 
        {
            display: none;
        }
    }

    #sideCircleRight {
        z-index: 0;
        position: absolute;
        right: 0;
        height: 75vh;

        @media screen and (max-width: map-get($breakpoint, large)) and (max-height: map-get($breakpoint, large)) 
        {
            display: none;
        }
    }

    .container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 100px;

        .title {
            height: 20%;
            width: 60%;

            @media screen and (max-width: map-get($breakpoint, large)) and (max-height: 1366px) 
            {
                width: 80%;
            }

            @media screen and (max-width: map-get($breakpoint, medium))
            {
                width: 90%;
            }

            h1 {
                text-align: center;
                color: $darkBlue;
                font-size: 50px;
                font-weight: 700;
                margin-bottom: 10px;

                @media screen and (max-width: map-get($breakpoint, large)) and (max-height: 1366px) 
                {
                    font-size: 50px;
                    line-height: 100px;
                }
                @media screen and (max-width: map-get($breakpoint, large)) and (max-height: map-get($breakpoint, large)) 
                {
                    font-size: 40px;
                    line-height: 56px;
                }
                @media screen and (max-width: map-get($breakpoint, medium)) 
                {
                    text-align: center;
                }
                @media screen and (max-width: map-get($breakpoint, small)) 
                {
                    font-size: 20px;
                    line-height: 30px;
                }

                span {
                    color: $midBlue;
                }
            }

            p {
                text-align: center;
                font-size: 22px;
                font-weight: 300;

                @media screen and (max-width: map-get($breakpoint, large)) 
                {
                    font-size: 20px;
                    line-height: 30px;
                }
                @media screen and (max-width: map-get($breakpoint, medium)) 
                {
                    width: 100%;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    font-size: 16px;
                    line-height: 26px;
                    text-align: center;
                }
                @media screen and (max-width: map-get($breakpoint, small)) 
                {
                    font-size: 14px;
                    line-height: 22px;
                }


                span {
                    display: block;

                    @media screen and (max-width: 1600px) 
                    {
                        display: inline;
                    }
                }
            }
        }

        .partnerList {
            height: 80%;
            width: 70%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            margin-bottom: 50px;

            @media screen and (max-width: 1800px) 
            {
                width: 90%;
            }

            @media screen and (max-width: 1400px) 
            {
                width: 100%;
            }

            .partnerItem {
                margin: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;

                @media screen and (max-width: 500px) 
                {
                    margin: 30px;
                }


                img {
                    width: 200px;

                    @media screen and (max-width: 500px) 
                    {
                        width: 120px;
                    }
    
                }

                a {
                    margin-top: 40px;
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @media screen and (max-width: 500px) 
                    {
                        margin-top: 20px;
                    }
    
                    
                    img {
                        width: 50px;
                    }

                    &:hover #circleLight {
                        transform: translateX(-30%);
                        opacity: 0.5;
                    }
                    &:hover #circleDark {
                        opacity: 0.2;
                        transform: translateX(-60%);
                    }
                    &:hover #circleArrow {
                        transform: translateX(10%);
                    }

                    #circleArrow {
                        z-index: 1;
                        position: absolute;
                        height: 5%;
                        transition: all 1s ease;
                    }
                    #circleLight {
                        opacity: 1;
                        position: absolute;
                        height: 4.5%;
                        transition: all 1s ease;
                    }
                    #circleDark {
                        opacity: 1;
                        position: absolute;
                        height: 4%;
                        transition: all 1s ease;
                    }
                }
            }
        }
    }
}