$black: #2E222F;
$blue: #4D9BE6;
$yellow: #F9C22B;
$green: #91DB69;
$darkGreen: #1EBC73;
$purple: #A884F3;


$darkBlue: #323353;
$midDarkBlue: #484A77;
$midBlue: #4D9BE6;
$lightBlue: #8FD3FF;
$grey: #9494A2;
$textGrey: #9BABB2;

$breakpoint: (
  small: 320px,
  medium: 640px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
);
